.calendario-container {
    background-color: transparent; /* antes blanco */
    min-height: auto; /* antes 100vh */
}

.calendario-content {
    padding: 20px;
    max-width: 900px;   /* antes 1400px */
    margin: 0 auto;
}

.calendario-main {
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(255, 215, 248); /* transparencia opcional */
    box-shadow: none; /* quita la tarjeta blanca */
}
